<app-header></app-header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Expenses</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Income</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Balance</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn ">
            <p-button (onClick)="openForm()">Add New Income</p-button>
        </div>
    </div>
</div>
        




<!-- add new expense dialog form -->

<div class="card flex justify-content-center">
    
    <p-dialog header="Add New Expense" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true" [maximizable]="true">
        <ng-template pTemplate="p-dialog-content">
            <form class="grid" #f="ngForm"> 
                <div class="flex gap-2 flex-column col-6">
                    <label htmlFor="descriotion">Description</label>
                    <input type="text" name="description" [(ngModel)]="description"  pInputText placeholder="Expense decription" id="descriotion" /> 
                </div>
                <div class="flex gap-2 flex-column col-6">
                    <label htmlFor="descriotion">Category</label>
                    <input placeholder="Select a Category" pInputText [(ngModel)]="source" name="category">
                </div>
                <div class="flex gap-2 flex-column col-12 w-full">
                    <label htmlFor="descriotion">Price</label>
                    <p-inputNumber [(ngModel)]="price" inputId="integeronly" class="w-full" name="price"> </p-inputNumber>
                </div>
                <div class="flex gap-2 flex-column col-12 w-full">
                    <label htmlFor="descriotion">Date</label>
                    <p-calendar [(ngModel)]="date" name="calender"></p-calendar>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button (click)="addNewIncome(description, source, price, date)" label="Add" [loading]="loading"></p-button>
        </ng-template>
    </p-dialog>
</div>


<ejs-grid [dataSource]="tableItem" [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="true" [allowFiltering]="true" [filterSettings]="filterOptions" [editSettings]='editSettings'>

    <e-columns routerLink="/edit/{{tableItem}}">
        <e-column field='description' headerText='Description'>
            
        </e-column>
        <e-column field='source' headerText='Source'>
            
        </e-column>
        <e-column field='price' headerText='Price'>
            
        </e-column>
        <e-column field='date' format='yMd' headerText='Date'>
            
        </e-column>
    </e-columns>
    
</ejs-grid>






