<app-header></app-header>
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="mb-3 text-green-300 font-bold font-italic text-xl">
        <p-skeleton width="10rem" height="2rem" styleClass="mb-2" *ngIf="loading else content">
        </p-skeleton> 
        <ng-template #content ngFor="userName ">
            Welcome back {{firstName}} 
        </ng-template>
    </div>
    <!-- <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3 hover:-translate-y-100">Expenses</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Income</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Balance</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
        


<div class="grid justify-content-center" *ngIf="!editIsHidden"> 
    <p-skeleton width="10rem" height="2rem" styleClass="mb-2" *ngIf="loading else formEdit">
    </p-skeleton> 
    <p-card class=" shadow-8 "> 
        <ng-template #formEdit>
            <div class="card col gap-5 mb-5">
               <label for="description" class="block text-900 font-medium mb-2">Description</label>
               <input type="text"  id="description" pInputText [(ngModel)]="dataDetails.description"/>
               
               <label for="source" class="block text-900 font-medium mb-2">Source</label>
               <input type="text" id="source" pInputText [(ngModel)]="dataDetails.source"/>  
           </div>

           <div class="card col gap-5 mb-5">
               <label for="price" class="block text-900 font-medium mb-2">Price</label>
               <input type="text" id="price" pInputText [(ngModel)]="dataDetails.price"/>
               <label for="date" class="block text-900 font-medium mb-2">Price</label>
               <p-calendar [(ngModel)]="dataDetails.date" id="date" [touchUI]="true" [readonlyInput]="false"></p-calendar>
           </div> 
           <p-button class="w-full">Update</p-button>
        </ng-template>
        
    </p-card> 
</div>


<!-- add new expense dialog form -->

<div class="card flex justify-content-center">
    
    <p-dialog header="Add New Expense" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true" [maximizable]="true">
        <ng-template pTemplate="p-dialog-content">
            <form class="grid" #f="ngForm"> 
                <div class="flex gap-2 flex-column col-6">
                    <label htmlFor="descriotion">Description</label>
                    <input type="text" name="description" [(ngModel)]="description"  pInputText placeholder="Expense decription" id="descriotion" /> 
                </div>
                <div class="flex gap-2 flex-column col-6">
                    <label htmlFor="descriotion">Category</label>
                    <input placeholder="Select a Category" pInputText [(ngModel)]="source" name="category">
                </div>
                <div class="flex gap-2 flex-column col-12 w-full">
                    <label htmlFor="descriotion">Price</label>
                    <p-inputNumber [(ngModel)]="price" inputId="integeronly" class="w-full" name="price"> </p-inputNumber>
                </div>
                <div class="flex gap-2 flex-column col-12 w-full">
                    <label htmlFor="descriotion">Date</label>
                    <p-calendar [(ngModel)]="date" name="calender"></p-calendar>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button (click)="addNewIncome(description, source, price, date)" label="Add" [loading]="loading"></p-button>
        </ng-template>
    </p-dialog>
</div>


<p-table 
    [value]="tableItem" styleClass="p-datatable-gridlines" 
    [paginator]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading" 
>
    <ng-template pTemplate="caption"> 

        <p-button icon="pi pi-plus" pRipple label="Add New Income" (onClick)="openForm()"> </p-button>

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Source</th>
            <th>Price</th>
            <th>Date Added</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr (click)="loadIncomeByID(product.id)" class="cursor-pointer" pTooltip="Click to cedit" >
            <ng-template *ngIf="loading">
              <p-skeleton></p-skeleton>
            </ng-template>
            <ng-container *ngIf="!loading">

                <td *ngIf="!loading"> {{ product.description }} </td>
                  <td *ngIf="!loading">{{ product.source }}</td>
                  <td *ngIf="!loading">{{ product.price | currency: 'NGN' }}</td>
                  <td *ngIf="!loading">{{ product.date }}</td>
            </ng-container>
            
              
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </ng-template>
</p-table>






