<app-header/>

<!-- =================== Hero Seccion ====================== -->

<!-- Hero -->
<div class="bg-secondary-content">
    <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
      <h1 class="font-semibold text-white text-5xl md:text-6xl">
        <span class="text-info ">Preline Agency:</span> Transforming ideas into reality
      </h1>
      <div class="max-w-4xl">
        <p class="mt-5 text-accent-content text-lg">
          It is a creative hub where imagination meets craftsmanship to transform ideas into tangible realities. At Preline Agency, we specialize in turning conceptual visions into concrete forms, whether it be through design, artistry, or technological innovation.
        </p>

        <!-- Buttons -->
      <div class="mt-7 grid gap-3 w-full sm:inline-flex">
        <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-white hover:bg-info hover:border-secondary-content hover:text-secondary-content transition-colors disabled:opacity-50 disabled:pointer-events-none" routerLink="register">
          Get started
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
        <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
          Contact sales team
        </a>
      </div>
      <!-- End Buttons -->

      </div>
    </div>

    <!-- <button>Test</button> -->
  </div>
  <!-- End Hero -->



<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
        <img class="rounded-xl" src="https://images.unsplash.com/photo-1648737963503-1a26da876aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=900&q=80" alt="Image Description">
      </div>
      <!-- End Col -->
  
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-neutral-200">
              We tackle the challenges start-ups face
            </h2>
            <p class="text-gray-500 dark:text-neutral-500">
              Besides working with start-up enterprises as a partner for digitalization, we have built enterprise products for common pain points that we have encountered in various products and projects.
            </p>
          </div>
          <!-- End Title -->
  
          <!-- List -->
          <ul class="space-y-2 sm:space-y-4">
            <li class="flex space-x-3">
              <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-base-300/10 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                <span class="font-bold">Easy & fast</span> designing
              </span>
            </li>
  
            <li class="flex space-x-3">
              <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-base-300/10 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Powerful <span class="font-bold">features</span>
              </span>
            </li>
  
            <li class="flex space-x-3">
              <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-base-300/10 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                User Experience Design
              </span>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->

<!-- Features - 2 -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto ">

    <div class="space-y-2 mb-5 md:space-y-4">
        <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-neutral-200">
          We tackle the challenges start-ups face
        </h2>
        <p class="text-gray-500 dark:text-neutral-500">
          Besides working with start-up enterprises as a partner for digitalization, we have built enterprise products for common pain points that we have encountered in various products and projects.
        </p>
      </div>

    <!-- Grid -->
    <div class="grid items-center bg-base-300/10 p-10 lg:grid-cols-12 gap-6 lg:gap-12 rounded-xl">
      <div class="lg:col-span-4">
        <!-- Stats -->
        <div class="lg:pe-6 xl:pe-12">
          <p class="text-6xl font-bold leading-10 text-blue-600">
            92%
            <span class="ms-1 inline-flex items-center gap-x-1 bg-gray-200 font-medium text-gray-800 text-xs leading-4 rounded-full py-0.5 px-2 dark:bg-neutral-800 dark:text-neutral-300">
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
              </svg>
              +7% this month
            </span>
          </p>
          <p class="mt-2 sm:mt-3 text-gray-500 dark:text-neutral-500">of U.S. adults have bought from businesses using Space</p>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->
  
      <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-start-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:before:dark:bg-neutral-700">
        <div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-blue-600">99.95%</p>
            <p class="mt-1 text-gray-500 dark:text-neutral-500">in fulfilling orders</p>
          </div>
          <!-- End Stats -->
  
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-blue-600">2,000+</p>
            <p class="mt-1 text-gray-500 dark:text-neutral-500">partner with Preline</p>
          </div>
          <!-- End Stats -->
  
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-blue-600">85%</p>
            <p class="mt-1 text-gray-500 dark:text-neutral-500">this year alone</p>
          </div>
          <!-- End Stats -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->


<app-footer/>