<app-header></app-header>
<!-- <div class="h-6">
    <p-galleria [numVisible]="1" [autoPlay]="true" [circular]="true" [showItemNavigators]="false" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'width': '100%; display: block;' }" [value]="images" class="h-6">
        <ng-template pTemplate="item" let-image>
            <p-card [header]="image.message">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum reprehenderit unde facilis, facere tenetur enim libero maiores ipsam provident molestias.
                </p>
            </p-card>
        </ng-template>
    </p-galleria>
</div> -->

<div class="xl:flex lg:flex md:flex xl:align-content-center lg:align-content-center md:align-content-center xl:justify-content-center lg:justify-content-center md:justify-content-center xl:px-5 xl:flex-column lg:px-5 lg:flex-column md:px-5 md:flex-column bg-black-alpha-30 h-screen flex justify-content-between flex-column align-content-center px-3 m-0">
   <div class="hero-text flex flex-column justify-content-center align-content-center fadeinup animation-duration-500">
    <h3 class="hero-welcome mb-4 text-center xl:text-8xl text-6xl line-height-1">
        Take Control Of Your <br> Finances with Ease
    </h3>
    <p class="text-center">Discover a seamless way to manage your expenses and income with our cutting-edge app, <br> and streamline your expenses and income effortlessly with our intuitive manage</p>
    
    <div class="btns flex justify-content-center align-content-center w-full">
        <!-- <p-button routerLink="/income">Manage Income</p-button> -->
        <p-button routerLink="/register">Get Started</p-button>
    </div>
</div>
</div>

<!-- Expenses Panel  -->

<div class="xl:flex lg:flex md:flex px-5 justify-content-betweenxl align-content-center gap-4 py-5 sm:flex-column xl:flex-row md:flex-row lg:flex-row">

    <div class="img">
        <p-card class="w-full">
            <img src="../../../assets/african-american-man-working-monstera-plant.jpg" alt="Designed by Freepick" class="border-round-md w-17rem xl:w-30rem md:w-30rem lg:w-30rem" >
        </p-card>
    </div>
    <div class="contents">
        <h2>Manage Your Expenses with Ease</h2>
        <p>
            Add your daily expenses with just a few taps. Simply enter the amount, select the category, and save the transaction. MiniLedger's user-friendly interface ensures that you can quickly capture every expense without any hassle.
        </p>
        <p class="mt-3">
            Organize your expenses into customizable categories. From groceries to entertainment, MiniLedger allows you to create personalized labels that suit your spending patterns.
        </p>
        <p class="mt-3">
            Rest assured, MiniLedger prioritizes the security and privacy of your financial data. All your information is encrypted and securely stored to safeguard your sensitive details.
        </p>
        <p-button class="mt-4" routerLink="/expenses">Manage Expences</p-button>
    </div>
</div>


<!-- income section -->

<div class="xl:flex px-5 justify-content-betweenxl align-content-center gap-4 py-5 sm:flex-column xl:flex-row bg-black-alpha-30">
    <div class="img mt-2">
        <p-card class="w-full">
            <img src="../../../assets/african-american-man-working-monstera-plant.jpg" alt="Designed by Freepick" class="border-round-md w-17rem xl:w-30rem">
        </p-card>
    </div>

    <div class="contents xl:flex xl:flex-column xl:align-items-center">
        <h2>Track Your Income and Grow Your Savings</h2>
        <p>
            Categorize your income sources to understand how each contributes to your overall earnings. Create personalized labels, such as "Salary," "Investments," or "Rental Income," to keep your income organized.
        </p>
        <p class="mt-3">
            Easily add your income streams to MiniLedger. Whether it's your salary, freelance payments, or side hustles, you can effortlessly log every source of income to get a clear view of your financial inflows.
        </p>
        <p-button class="mt-4" routerLink="/income">Manage Income</p-button>
    </div>

    
</div>


<!-- FAQ-SECTION -->

<!-- <div class="faq flex align-content-center justify-content-center w-7">
        <p-accordion [activeIndex]="1">
            <p-accordionTab header="Header I">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header II">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header III">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
</div> -->
