<div class="flex justify-content-center align-item-center h-screen">
        <p-card header="Login to your account" class="w-full xl:w-6" >
            <form class="">
                <div class="flex flex-column gap-3 mb-3 animate-width animation-duration-500">
                    <label htmlFor="username">Email</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                    <!-- <small id="username-help">Enter your email address.</small> -->
                </div>
                <div class="flex flex-column gap-3 mb-3 animate-width animation-duration-500">
                    <label htmlFor="username">Password</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                    <!-- <small id="username-help">Enter your username to reset your password.</small> -->
                </div>

                <p-button (onClick)="login()" class="animate-width animation-duration-500">Login</p-button>
            </form>
            <h5 class="mt-4">Don't have an account? <a routerLink="/register">Create one here</a></h5>
        </p-card>

        <div class="card">
            <p-messages [(value)]="messages" [enableService]="true" [closable]="false"></p-messages>
        </div>
</div>