<div class="flex justify-content-center align-items-center w-auto h-screen">

    <p-card> 
         <div class="card flex justify-content-center gap-5 mb-5">
            <!-- <input type="text" pInputText [(ngModel)]="dataDetails.id" /> -->
            <input type="text" pInputText [(ngModel)]="dataDetails.description" /> 
        </div>
        <div class="card flex justify-content-center gap-5 mb-5">
            <input type="text" pInputText [(ngModel)]="dataDetails.price" />
            <input type="text" pInputText [(ngModel)]="dataDetails.category" />
        </div>

        <div class="card flex justify-content-center gap-5 mb-5">
            <p-calendar [(ngModel)]="dataDetails.date" [touchUI]="true" [readonlyInput]="true"></p-calendar>

        </div> 
        <p-button class="w-full">Update</p-button>
    </p-card>
</div>
