<app-header></app-header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Expenses</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Income</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Balance</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        




<!-- add new expense dialog form -->

<div class="card flex justify-content-center">
    
    <p-dialog header="Add New Expense" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true" [maximizable]="true">
        <ng-template pTemplate="p-dialog-content">

            <div class="surface-card p-4 shadow-2 border-round">
                <div class="grid">
                    <div class="col">
                        <label for="email1" class="block text-900 font-medium mb-2">Description</label>
                        <input id="email1"  name="description" [(ngModel)]="description" pInputText class="w-full mb-3">

                        <label for="password1" class="block text-900 font-medium mb-2">Category</label>
                        <input id="password1"  name="category"  placeholder="Category" [(ngModel)]="category" pInputText class="w-full mb-3">
                    </div>

                    <div class="col">
                        <label for="email1" class="block text-900 font-medium mb-2">Price</label>
                        <input id="email1" [(ngModel)]="price" name="price" placeholder="Email address" pInputText class="w-full mb-3">

                        <label class="block text-900 font-medium mb-2">Date</label>
                        <p-calendar [(ngModel)]="date" name="date" class="w-full mb-3 z-5"></p-calendar>
                    </div>
            
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-plus" (click)="adddNewExpence(description, category, price, date)" label="Add" [loading]="loading"></p-button>
        </ng-template>
    </p-dialog>
</div>


<p-table 
    [value]="tableItem" styleClass="p-datatable-gridlines" 
    [paginator]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="caption"> 

        <p-button icon="pi pi-plus" pRipple label="Add New Expense" (onClick)="openForm()"> </p-button>

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Date Added</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr routerLink="/edit/expense/{{product.id}}" class="cursor-pointer" pTooltip="Click to cedit" >
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.date }}</td> 
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </ng-template>
</p-table>


<!-- <input type="range" [(ngModel)]="rangeValue" name="range" [value]="rangeValue" id=""> -->






