<app-header></app-header>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">User Details</span>
                        <div class="text-900 font-medium text-md">
                            <p-skeleton width="10rem" height="2rem" styleClass="mb-2" *ngIf="loading else content">
                            </p-skeleton> 
                            <ng-template #content ngFor="userName">
                                <p>
                                    Email: {{userDetails.email}}
                                    <span>
                                        <i class='bx bx-user-x bx-sm bx-flashing text-red-500 cursor-pointer' pTooltip="email not verified"  *ngIf="!isVerified"> </i>
                                    </span>
                                    <span>
                                        <i class='bx bx-user-check bx-sm text-green-500' pTooltip="email verified" *ngIf="isVerified"> </i>  
                                    </span>
                                </p> 
                            </ng-template>
                    </div>
                    <div class="text-900 font-medium text-md">

                        <p-skeleton width="10rem" height="2rem" styleClass="mb-2" *ngIf="loading else firstName">
                        </p-skeleton> 
                        <ng-template #firstName ngFor="userName">
                            <p>
                                Name: {{userDetails.firstName}}
                            </p> 
                        </ng-template> 
                    </div>
                        <!-- <div class="text-900 font-medium text-md"></div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Income Recorded</span>
                        <div class="text-900 font-medium text-xl">$28900</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Expense Recorded</span>
                        <div class="text-900 font-medium text-xl">$28900</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add new expense dialog form -->
<div class="card flex justify-content-center px-6">
    <p-dialog [(visible)]="productDialog" [style]="{ width: '550px' }" header="Expense Details" [modal]="true" [maximizable]="true" styleClass="p-fluid" >
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="description" required rows="3" cols="10"></textarea>
                <!-- <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>
            <div class="field">
                <label for="category">Category</label>
                <input type="text" pInputText id="name" [(ngModel)]="category" required autofocus />
            </div>
            <div class="field">
                <label for="price">Price</label>
                <p-inputNumber inputId="integeronly" [(ngModel)]="price"> </p-inputNumber>
            </div>

            <div class="field">
                <label for="date">Date</label>
                <p-calendar [(ngModel)]="date" [inline]="true"  [showWeek]="true" [showIcon]="true"></p-calendar>
            </div>
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addNewUserExpense(description, category, price, date, userID)" [label]="btnText" [loading]="loading"></button>
        </ng-template>
    </p-dialog>
</div>

<!-- edit Expense -->

<div class="card flex justify-content-center px-6">
    <p-dialog [(visible)]="editExpenseDialog" [style]="{ width: '550px'}" header="Income Details" [modal]="true" [maximizable]="true" styleClass="p-fluid" >
        <ng-template pTemplate="content"> 
            <div class="field">
                <label for="name">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="description" required rows="3" cols="10"></textarea>
                <!-- <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small> -->
            </div>
            <div class="field">
                <label for="category">Category</label>
                <input type="text" pInputText id="name" [(ngModel)]="category" required autofocus />
            </div>
            <div class="field">
                <label for="price">Price</label>
                <p-inputNumber inputId="integeronly" [(ngModel)]="price"> </p-inputNumber>
            </div>

            <div class="field">
                <label for="date">Date</label>
                <p-calendar [(ngModel)]="date" [inline]="true"  [showWeek]="true" [showIcon]="true"></p-calendar>
            </div>
        </ng-template>
    
        <ng-template pTemplate="footer" >
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateUserExpense(description, category, price, date, userID, itemID)" label="Edit" [loading]="loading"></button>
        </ng-template> 
    </p-dialog>
</div>


<p-table 
    [value]="tableItem" styleClass="p-datatable-gridlines" 
    [paginator]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="4"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading" 
    class="hidden lg:block xl:block"
>
    <ng-template pTemplate="caption"> 

        <p-button icon="pi pi-plus" pRipple label="Add New Expense" (onClick)="openNew()"> </p-button>
 
    </ng-template> 
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="description" style="width:20%">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon> </th>
            <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="date" style="width:20%">Date Added <p-sortIcon field="date"></p-sortIcon></th>
            <th style="width:20%">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr class="cursor-pointer" pTooltip="Click to cedit" >
            <ng-template *ngIf="loading">
              <p-skeleton></p-skeleton>
            </ng-template>
            <ng-container *ngIf="!loading">

                <td *ngIf="!loading"> {{ product.description }} </td>
                  <td *ngIf="!loading">{{ product.category }}</td>
                  <td *ngIf="!loading">{{ product.price | currency: 'NGN' }}</td>
                  <td *ngIf="!loading">{{ product.date.toDate() | date}}</td>
                <td *ngIf="!loading" class="flex justify-content-around">
                    <button pButton pRipple label="Edit" (click)="openEditDialog(userID, product.id)" icon="pi pi-pencil" class="p-button-text"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text text-red-600" (click)="deleteUserIncome(userID, product.id)"></button>
                </td>
            </ng-container>
            
              
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </ng-template>
</p-table>



<p-button icon="pi pi-plus" class="lg:hidden xl:hidden px-5" pRipple label="Add New Expense" (onClick)="openNew()"> </p-button>



<div class="surface-ground px-4 flex justify-content-between align-items-center border-top-2 surface-border border-bottom-2  lg:hidden xl:hidden" *ngFor="let data of tableItem; let i = index">
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2  flex-wrap">
            <div class="text-900 font-medium text-xl w-full md:w-8 md:flex-order-0 flex-order-1">{{data.price | currency: 'NGN'}}</div>
            <div class="text-900 w-full font-bold text-2xl md:w-8 md:flex-order-0 flex-order-1">{{data.description}}</div> 
            <div class="text-500 md:w-8 md:flex-order-0 flex-order-1">{{data.category}}</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{data.date.toDate() | date}}</div>
        </li>
    </ul>
    <div class="w-6 md:w-2 flex justify-content-end flex-column">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text text-red-600" (click)="deleteUserIncome(userID, data.id)"></button>
    </div>
</div>
<p-divider layout="horizontal">
</p-divider> 






