/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}