<app-header></app-header>

<div class="flex align-content-center align-content-center align-content-center bg-black-alpha-30 flex justify-content-between flex-column align-content-center px-3 py-4 xl:h-screen">
   <div class="hero-text flex flex-column justify-content-center align-content-center fadeinup animation-duration-500">
    <h3 class="hero-welcome mb-3 text-center xl:text-8xl lg:text-7xl md:text-7xl text-5xl line-height-1">
        Take Control Of Your <br> Finances with Ease
    </h3>
    <p class="text-center text-md text-justify-center">Discover a seamless way to manage your expenses and income with our cutting-edge app, <br> and streamline your expenses and income effortlessly with our intuitive manage</p>
    
    <div class="btns flex justify-content-center align-content-center w-full">
        <!-- <p-button routerLink="/income">Manage Income</p-button> -->
        <p-button routerLink="/register">Get Started</p-button>
    </div>
    <i class="pi pi-angle-double-down text-center align-content-center justify-content-center mt-4 hidden md:block fadeoutdown animation-duration-2000 animation-iteration-infinite text-xl"></i>
</div>
</div>

<!-- Expenses Panel  -->

<div class="flex px-5 justify-content-betweenxl align-content-center gap-4 py-5 flex-column xl:flex-row md:flex-row lg:flex-row md:flex-column">

    <div class="img">
        <p-card class="w-full md:w-auto">
            <img src="../../../assets/african-american-man-working-monstera-plant.jpg" alt="Designed by Freepick" class="border-round-md w-16rem xl:w-30rem lg:w-30rem md:w-full md:h-22rem">
        </p-card>
    </div>
    <div class="contents">
        <h2>Manage Your Expenses with Ease</h2>
        <p>
            Add your daily expenses with just a few taps. Simply enter the amount, select the category, and save the transaction. MiniLedger's user-friendly interface ensures that you can quickly capture every expense without any hassle.
        </p>
        <p class="mt-3">
            Organize your expenses into customizable categories. From groceries to entertainment, MiniLedger allows you to create personalized labels that suit your spending patterns.
        </p>
        <p class="mt-3">
            Rest assured, MiniLedger prioritizes the security and privacy of your financial data. All your information is encrypted and securely stored to safeguard your sensitive details.
        </p>
        <p-button class="mt-4" routerLink="/expenses">Manage Expences</p-button>
    </div>
</div>


<!-- income section -->

<div class="xl:flex px-5 justify-content-betweenxl align-content-center gap-4 py-5 sm:flex-column xl:flex-row bg-black-alpha-30">
    <div class="img mt-2">
        <p-card class="w-full">
            <img src="../../../assets/african-american-man-working-monstera-plant.jpg" alt="Designed by Freepick" class="border-round-md w-16rem xl:w-30rem md:w-full md:h-22rem">
        </p-card>
    </div>

    <div class="contents xl:flex xl:flex-column xl:align-items-center">
        <h2>Track Your Income and Grow Your Savings</h2>
        <p>
            Categorize your income sources to understand how each contributes to your overall earnings. Create personalized labels, such as "Salary," "Investments," or "Rental Income," to keep your income organized.
        </p>
        <p class="mt-3">
            Easily add your income streams to MiniLedger. Whether it's your salary, freelance payments, or side hustles, you can effortlessly log every source of income to get a clear view of your financial inflows.
        </p>
        <p-button class="mt-4" routerLink="/income">Manage Income</p-button>
    </div>

    
</div>


<!-- FAQ-SECTION -->

 <div class="faq flex align-content-center justify-content-center w-full px-3 flex-column">
    <h1>Frequently Asked Questions</h1>
        <p-accordion [activeIndex]="1">
            <p-accordionTab header="Is MiniLedger free to use?">
                <p>
                    Yes MiniLedger is free to use.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Is my financial data safe with MiniLedger?">
                <p>
                    Absolutely! We prioritize the security and privacy of your financial data. All information is encrypted and stored securely using industry-standard protocols.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Can I access MiniLedger from multiple devices?">
                <p>
                    Yes, you can access MiniLedger from any device with an internet connection. Whether it's your desktop, laptop, tablet, or smartphone, your data will be synced across all your devices.
                </p>
            </p-accordionTab>
            <p-accordionTab header="How do I categorize my expenses and income?">
                <p>
                    Categorizing expenses and income is easy with MiniLedger. Simply select a transaction, choose the appropriate category from our predefined list, or create custom labels that suit your needs.
                </p>
            </p-accordionTab>
            <p-accordionTab header="How can I contact MiniLedger's support team?">
                <p>
                    MiniLedger is a solo project develeoped by Chibuzor Gregory Iheaneme, you can reach out to him via his <a href="https://www.linkedin.com/in/chibuzor-gregory-iheaneme/" target="_blank">LinkedIn <i class="pi pi-external-link text-sm"></i></a>  account 
                </p>
            </p-accordionTab>
        </p-accordion>
</div>
