<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" position="bottom-center" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="flex h-screen justify-content-center align-items-center">
    <div class="surface-card  p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <!-- <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"> -->
            <div class="text-900 text-3xl font-medium mb-3">Create an account today</div>
            <span class="text-600 font-medium line-height-3">Already have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Login here</a>
        </div>

        <form #form="ngForm" novalidate>
            <div class="grid">
                <div class="col">
                    <label for="firstName" class="block text-900 font-medium mb-2">First Name</label>
                    <input id="firstName"type="text" name="firstName" [(ngModel)]="firstName" placeholder="your first name" required pInputText class="w-full mb-3" #firstNameValue="ngModel"  pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s\-']{2,}"> 
                    <!-- <p-message severity="error" text="Field is required"></p-message> -->
                    <small id="firstName-help" *ngIf="firstNameValue.invalid" class="p-error fadeoutdown animation-duration-1000">
                        <ng-container *ngIf="firstNameValue.invalid && (firstNameValue.touched)">
                            First Name is required.
                        </ng-container>
                        <ng-container *ngIf="firstNameValue.errors?.['pattern']">
                            Please enter only text
                        </ng-container>
                    </small>


                    <label for="email" class="block text-900 font-medium mb-2">Email</label>
                    <input id="email"type="text" name="email" required [(ngModel)]="email" placeholder="your email" pInputText class="w-full mb-3" #emailValue="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">

                    <small id="firstName-help" *ngIf="emailValue.invalid" class="p-error fadeoutdown animation-duration-1000">
                        <ng-container *ngIf="emailValue.invalid && (emailValue.touched)">
                            Email is required.
                        </ng-container> <br>
                        <ng-container *ngIf="emailValue.errors?.['pattern']">
                            Email should be in this format greg@gmail.com
                        </ng-container>
                    </small>
                    
                </div> 
                <div class="col">
                    <label for="lastName" class="block text-900 font-medium mb-2">Last Name</label>
                    <input id="lastName" type="text" name="lastName" required [(ngModel)]="lastName" placeholder="your last name" pInputText class="w-full mb-3" #lastNameValue="ngModel" aria-describedby="lastName-help" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s\-']{2,}">
                    <small id="lastName-help" *ngIf="lastNameValue.invalid" class="p-error fadeoutdown animation-duration-1000">
                        <ng-container *ngIf="lastNameValue.invalid && (lastNameValue.touched)">
                            Last Name is required.
                        </ng-container>
                        <ng-container *ngIf="lastNameValue.errors?.['pattern']">
                            Please enter only text
                        </ng-container>
                    </small>
        
        
                    <label for="passValue" class="block text-900 font-medium mb-2">Password</label>
                    <input id="passValue" [(ngModel)]="password" name="password" type="password" placeholder="Password" pInputText required class="w-full mb-3" #passValue="ngModel"> 
                    <small id="lastName-help" *ngIf="lastNameValue.invalid" class="p-error fadeoutdown animation-duration-1000">
                        <ng-container *ngIf="passValue.invalid && (passValue.touched)">
                            <p class="mt-2">Suggestions</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>At least one lowercase</li>
                                <li>At least one uppercase</li>
                                <li>At least one numeric</li>
                                <li>Minimum 8 characters</li>
                            </ul>
                        </ng-container>
                    </small>
                    
                </div>
                <button (click)="createAccount(email, password, firstName, lastName, userID)" pButton pRipple [label]="btnMessage" icon="pi pi-user" class="w-full" [loading]="loading" [disabled]="form.invalid"></button>
            </div>
        </form>

    </div>
</div>